html, body {

    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
nav ul {

    display: flex;

}

nav ul li {

    list-style: none;
    padding-right: 10px;

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #7bb062;
    padding: 10px 15px;

}

.submenu {
    color: black;
}

nav ul li a:hover {
    background-color: #434343;
    color: white;

}


nav li ul {
    display: none;
    position: absolute;
}

nav li:hover > ul {

    display: block;
    background-color: #CEE8C2;
   
}


/* Botones del header */


button {

    width: 80px;
    height: 40px;
    color: white;
    background-color: #7bb062;
    border: transparent;
    cursor: pointer;

}

button:hover {

    background-color: #58923c;
    color: white;
    opacity: 95%;

}

/* Funcionalidades: Login  */

.login {

    display: none;
    width: 300px;
    height: 350px;
    border: 1px solid red;

}


/* cuerpo del sitio web */

main {

    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url('./img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hugeButton {

    width: 225px;
    background-color: white;
    color: black;

}



/* pie de pagina  */

footer {

    display: flex;
    justify-content: center;
    background-color: #7bb062;
    align-items: center;

}

footer a, p {

    padding: 10px 10px;
    text-decoration: none;
    color: white;

}